@import "./reset.css"

.App {
    -fx-background-color: black-1;
}

.btn {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain contain;
}

.header__title {
    -fx-text-fill: green-1;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: inherit;
}

.settings-btn {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/settings-alt.png");
}

.notifications-btn {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/bell-alt.png");
}

.exit-btn {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/exit-alt.png");
}

.themes__label {
    -fx-text-fill: white-1;
    -fx-font-size: 16px;
    -fx-background-color: inherit;
}

.flashcards__themes {
    -fx-background-color: grey-1;
}

.add-flashcard-btn {
    -fx-background-color: grey-1;
    -fx-background-image: url("../images/add.png");
}