@import "./reset.css";

.container {
    -fx-background-color: black-1;
}

.options-box {
    -fx-border-radius: 10px;
    -fx-background-color: grey-1;
    -fx-background-radius: 4px;
}

.input {
    -fx-border-color: black-1;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.sign-in-btn {
    -fx-cursor: hand;
    -fx-text-fill: blue-1;
    -fx-border-color: blue-1;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.lost-password {
    -fx-cursor: hand;
    -fx-text-fill: red-1;
}

.dont-have-account {
    -fx-cursor: hand;
}