.root {
    green-1: #2ED85D;
    blue-1: #000AFF;
    red-1: #FF0000;
    white-1: #FFFFFF;
    grey-1: #C7C3C3;
    black-1: #000000;
}

@font-face {
    font-family: "Roboto",
    font-style: normal,
    font-weight: normal,
    src: local("sample"), url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") format("trutype");
}

* {
    -fx-font-family: "Roboto"
}

.btn {
    -fx-cursor: hand;
}

.close-btn {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: grey-1;
    -fx-background-image: url("../images/close-alt.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 65%;
}

.options-box {
    -fx-border-radius: 10px;
    -fx-background-color: grey-1;
    -fx-background-radius: 4px;
}

.input {
    -fx-border-color: black-1;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}