@import "./reset.css";

.container {
    -fx-background-color: black-1;
}

.update-btn {
    -fx-text-fill: blue-1;
    -fx-border-color: blue-1;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.btn {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 65%;
}