@import "./reset.css";

.flashcard-wrapper {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.flashcard {
    -fx-border-radius: 3px;
    -fx-end-margin: 20px;
    -fx-background-radius: 3px;
    -fx-background-color: green-1;
}

.flashcard__title {
    -fx-text-fill: black-1;
    -fx-font-size: 16px;
    -fx-background-color: inherit;
}

.flashcard__description {
    -fx-text-alignment: center;
    -fx-text-fill: black-1;
    -fx-font-size: 16px;
    -fx-vgap: 30px;
    -fx-background-color: inherit;
}

.green-bg {
    -fx-background-color: green-1;
}

.red-bg {
    -fx-background-color: red-1;
}

.flashcard-tool-bar {
    -fx-background-color: green-1;
}

.flashcard-btn {
    -fx-background-color: inherit;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 85%;
}

.remove-btn {
    -fx-pref-width: 26px;
    -fx-pref-height: 26px;
    -fx-background-image: url("../images/remove.png");
    -fx-background-size: 85%;
}

.share-btn {
    -fx-pref-width: 23px;
    -fx-pref-height: 23px;
    -fx-background-image: url("../images/share.png");
}

.update-btn {
    -fx-pref-width: 23px;
    -fx-pref-height: 23px;
    -fx-background-image: url("../images/edit.png");
    -fx-background-size: 95%;
}