@import "./reset.css";

.App {
    -fx-background-color: black-1;
}

.study-btn, .sort-flashcard-btn {
    -fx-text-fill: black-1;
    -fx-background-color: grey-1;
}

.btn {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.settings-btn {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/settings.png");
    -fx-background-size: 100%;
}

.notifications-btn-normal {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/bell.png");
    -fx-background-size: 90%;
}

.notifications-btn-notification {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/bell-notification.png");
    -fx-background-size: 90%;
}

.sign-out-btn {
    -fx-background-color: black-1;
    -fx-background-image: url("../images/exit-alt.png");
    -fx-background-size: 80%;
}

.refresh-btn {
    -fx-background-color: grey-1;
}

.add-flashcard-btn {
    -fx-background-color: grey-1;
    -fx-background-image: url("../images/add.png");
    -fx-background-size: 70%;
}